.choose{
    height: 70px;
    line-height: 60px;
}
.choose_box>ul>li{
    position: relative;
    margin-right: 30px;
}
.choose_box>ul>li:nth-child(1)>span{
    font-size: 24px;
    font-weight: bold;
}
.choose_box>ul>li:nth-child(1)>.tip{
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 999;

    width: 800px;
    height: 600px;
    background-color: pink;
    overflow-y: scroll;
    display: none;
}
.choose_box>ul>li:nth-child(1):hover>.tip{
    display: block;
}
.choose_box>ul>li:nth-child(1)>.tip>ol{
    padding: 0 30px;
}
.choose_box>ul>li:nth-child(1)>.tip>ol>li>ul>li{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: plum;
    margin: 0 12px 12px 0;
    border-radius: 15px;
}

.choose_box>ul>li:nth-child(1).tip>ol>li:first-child p{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: pink;
}
.choose_box>ul>li:nth-child(1)>.tip span{
    font-weight: bold;
}
.choose_box>ul>li:nth-child(2){
    font-weight: bold;
    border-bottom: 2px solid red;
}
.choose_box>ul>li:nth-child(3){
    font-weight: bold;
    border-bottom: 2px solid red;
}

.choose_box>ul>li:nth-child(2)>.song{
    display: none;
    position: absolute;
    left: -126px;
    top: 80px;
    z-index: 999;
}
.choose_box>ul>li:nth-child(2):hover>.song{
    display: block;
}
.choose_box>ul>li:nth-child(2)>.song>ul>li>p{
    padding: 0;
    height: calc((320px - 230px)/2);
    line-height: 45px;
}
.choose_box>ul>li:nth-child(2)>.song>ul li p:nth-child(2){
    padding-top: 10px;
}
.box{
    padding: 50px 0;
    background-color: white;
}
.box ul{
    background-color: whitesmoke;
}
.box ul li{
    width: calc(20% - 14px + 14px/5);
    height: 296px;
    margin-right: 14px;
}
.box ul li:nth-child(5n+5){
    margin-right: 0;
}
.box ul li:nth-child(n+6){
    margin-top: 14px;
}
/*.box ul li:nth-child(odd){
    background-color: turquoise;
}
.box ul li:nth-child(even){
    background-color: violet;
}*/
.box ul li p:first-of-type:hover{
    font-weight: bold;
}
.box ul li P:first-of-type{
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box ul li p:last-child::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../1/play.png);
    vertical-align: middle;
}
.box ul li .fangda{
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.box ul li :hover img{
    transform: scale(1.1);
    transition: all 1.6s linear 0.2s;
}
.box ul li img{
    width:100%;
    height: 100%;
}
.box ul li p:first-of-type:hover a{/*黑变红字*/
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.box ul li .fangda::after{
    content:"";/*播放图标*/
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../1/autoplay.png) no-repeat center/50px 50px;
    
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
}
.box ul li .fangda:hover::after{
    display: block;
}